/* ====for custom-header ==== */
/* .custom-dropdown .nav-link {
  color: #000 !important;
}
.header-padding{
  padding-right: 300px;
  right: 0;
}
.header-position .dropdown-menu{
  position: absolute;
  right: 10;
} */

.ai-custom a{
  text-decoration: none;
  color: #717173;
}
.ai-custom a:hover{
  color: #717173;
}
.newservice-box{
  position: relative;
  background-color: #fff;
border-top-right-radius:50px;
border-bottom-left-radius:50px;
padding: 30px 50px;
transition: .5s;
-webkit-box-shadow: 2px 2px 16px 2px rgba(0,0,0,0.3);
-moz-box-shadow: 2px 2px 16px 2px rgba(0,0,0,0.3);
box-shadow: 2px 2px 16px 2px rgba(0,0,0,0.3);
animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}
.newservice-box:hover {
  margin-top: -10px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .08);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ==== Approaches Cards ==== */
.bg-dark {
    background: #000;
  }
  .br-7 {
    border-radius: 7px;
  }
  
  .pb-3 {
    padding-bottom: 3rem;
  }
  .Approachcard {
    border: 1px solid #2a2b2f;
    border-radius: 10px;
    padding: 20px 30px;
    position: relative;
    cursor: default;
    color: #000;
  }
  .Approachcard::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    border-radius: 0 50% 50% 0;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s;
    background: #2a2b2f;
    border: 2px solid #2a2b2f;
  }
  .Approachcard::after {
    border: 3px solid white;
  }
  .Approachcard .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
  }
  .Approachcard > * {
    position: relative;
    z-index: 1;
  }
  .Approachcard:hover {
    color: #fff;
    border: 2px solid white;
  }
  .Approachcard:hover p{
    color: #fff;
  }
  .Approachcard:hover .ai-custom a{
    color: #fff;
  }
 
  .Approachcard::before .wrap {
  background-color: #fff;
  color: #000;
  }
  
  .Approachcard:hover::before {
    border-radius: 0;
    width: 100%;
  }
  .Approachcard .Approachcard-icon .wrap {
  background: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    margin-top:-70px;
    color: #000;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #2a2b2f;
  }
 
  .Approachcard .Approachcard-icon .wrap1 {
    background: #fff;
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 50%;
      position: absolute;
      margin-top:-45px;
      color: #000;
      top: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28px;
    }
    .Approachcard:hover .Approachcard-icon .wrap1 {
      background: #e91e63;
        color: #fff;
        font-size: 24px;
      }
   .Approachcard h3{
      margin-top: 20px;
    }
 /* ==== Approaches Cards completed ==== */


 /* ++++ Engagement Models design  +++++ */

.cardcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

.cardcontainer .card {
  position: relative;
  min-width: 350px;
  height: 470px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

.cardcontainer .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #e91e63;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: 0.5s;
}

.cardcontainer .card .box:hover {
  transform: translateY(-50px);
}

.cardcontainer .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

.cardcontainer .card .box .content {
  padding: 20px;
  text-align: center;
}

.cardcontainer .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

.cardcontainer .card .box .content h3 {
  font-size: 28px;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

.cardcontainer .card .box .content p {
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

.cardcontainer .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.cardcontainer .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}


@media (min-width: 320px) {
  .cardcontainer .card .box .content p {
    font-size: calc(0.875rem + ((1vw - 3.2px) * 0.125));
    min-height: 0vw;
  }
  .cardcontainer .card .box .content h3 {
    font-size: calc(1.25rem + ((1vw - 3.2px) * 0.5));
    min-height: 0vw;
  }
}
    
@media (max-width: 576px) {
  .cardcontainer .card{
    min-width: 330px;
    height: 400px;
  }
}
@media (max-width: 768px) {
  .cardcontainer .card{
    min-width: 320px;
    height: 430px;
  }
}
@media (max-width: 840px) {
  .cardcontainer .card{
    min-width: 320px;
    height: 430px;
  }
}


/* ++++ AI process +++ */

.newservice1-box{
  position: relative;
  background-color: #fff;
border-radius: 10px;
padding: 40px 30px 20px 30px;
transition: .5s;
-webkit-box-shadow: 2px 2px 16px 2px rgba(0,0,0,0.3);
-moz-box-shadow: 2px 2px 16px 2px rgba(0,0,0,0.3);
box-shadow: 2px 2px 16px 2px rgba(0,0,0,0.3);
}
.newservice1-box:hover {
  transform: scale(1.1);
}

.newservice1-red{
  background: #fd145a;
  height: 48px;
  width: 48px;
  position: absolute;
  border-radius: 100%;
  top: -25px;
  left: 42%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.newservice1-red:hover {
  transform: scale(1.1);
}

.newservice1-circle{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid #fff;
  position: absolute;
  background-color: #fd145a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color:#fff
}
.nlpservice-box{
  border: 1px solid #000;
  padding: 20px 30px;
  height: 100%;
}
.nlpservice-box:hover{
  border: none;
  box-shadow: 2px 2px 16px 2px rgba(0,0,0,0.2);
}
.nlp-backimage1{
  background: url(../public/assets/images/Service-machine/NLP_Development/process.png);
  background-repeat: no-repeat;
}
.nlp-backimage2{
  background: url(../public/assets/images/Service-machine/NLP_Development/process2.png);
  background-repeat: no-repeat;
}
.nlp-backimage3{
  background: url(../public/assets/images/Service-machine/NLP_Development/process3.png);
  background-repeat: no-repeat;
}
.nlp-backimage4{
  background: url(../public/assets/images/Service-machine/NLP_Development/process4.png);
  background-repeat: no-repeat;
}
.nlp-backimage5{
  background: url(../public/assets/images/Service-machine/NLP_Development/process5.png);
  background-repeat: no-repeat;
}
.nlp-backimage6{
  background: url(../public/assets/images/Service-machine/NLP_Development/process6.png);
  background-repeat: no-repeat;
}



/* ===== FaQ list ==== */

.listbox{
  margin:0 10%;
  height: 100%;
  padding: 10px 0 40px 60px
}

.listbox ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 0.5s linear;
  top:0
}


.listbox ul:before{
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border:1px solid #2c2a2a;
  position: absolute;
  top:0;
  left:30px
}

.listbox ul li{
  margin: 40px 60px 50px;
  position: relative;
  padding: 10px 20px;
  background:#ffe8e8;
  color:#FD145A;
  border-radius: 10px;
  line-height: 20px;
  width: 100%
}


.listbox ul li > span{
  height: 100%;
  position: absolute;
  top:0;
  left:-30px
}

.listbox ul li > span:before,.listbox ul li > span:after{
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background:#FD145A;
  position: absolute;
  left:-7.0px
}

.listbox ul li > span:before{top:-10px}
.listbox ul li > span:after{top:95%}

.listbox .title{
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px
}

.listbox .info:first-letter{text-transform: capitalize;line-height: 1.7}

.listbox .name{
  margin-top: 10px;
  text-transform: capitalize;
  font-style: italic;
  text-align: right;
  margin-right: 20px
}
.listbox .info{
  color: #000;
}

.listbox .time span{
  position: absolute;
  left: -60px;
  color:#000;
  font-size:80%;
  font-weight: bold;
  font-size: 30px;
}
.listbox .time span:first-child{top:-6px}
.listbox .time span:last-child{top:0%}

@media (max-width:640px){
  .listbox{
    margin: 0 20%;
    padding: 0;
  }

}
/* ===== FaQ list ==== */

/* ===== Predicative process ==== */
.ps-timeline-sec {
  position: relative;
  background: #fff;
}
.ps-timeline-sec .container {
  position: relative;
}


@media screen and (max-width: 1024px) {
  .ps-timeline-sec .container ol:before {
    /* background: #348e80; */
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: 130px !important;
    left: 36px !important;
  }
  .ps-timeline-sec .container ol:after {
    /* background: #348e80; */
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: inherit !important;
    left: 36px;
  } 
  .ps-timeline-sec .container ol.ps-timeline {
    margin: 30px 0 !important;
    border-left: 2px solid #000;
    padding-left: 0 !important;
    padding-top: 120px !important;
    border-top: 0 !important;
    margin-left: 250px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li {
    height: 220px;
    float: none !important;
    width: inherit !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li:nth-child(2) .img-handler-bot img {
    width: 70px;
  }
  .ps-timeline-sec .container ol.ps-timeline li:last-child {
    margin: 0;
    bottom: 0 !important;
    height: 120px;
  }
  .ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot {
    bottom: 40px !important;
    width: 40% !important;
    margin-left: 45px !important;
    margin-top: 0 !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot img {
    width: 100%;
  }
  .ps-timeline-sec .container ol.ps-timeline li:last-child .ps-top {
    margin-bottom: 0 !important;
    top: 20px;
    width: 50% !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li span {
    left: 0 !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:before {
    content: none !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:after {
    content: none !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:before {
    content: none !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after {
    content: none !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top {
    position: absolute !important;
    bottom: 150px !important;
    width: 30% !important;
    float: left !important;
    margin-left: 45px !important;
    margin-bottom: 0 !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top img {
    margin: 0 auto !important;
    width: 80% !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot {
    position: absolute !important;
    bottom: 150px !important;
    width: 30% !important;
    float: left !important;
    margin-left: 45px !important;
    margin-bottom: 0 !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li p {
    text-align: center !important;
    width: 100% !important;
    margin: 0 auto !important;
    margin-top: 0px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .ps-top {
    width: 60% !important;
    float: right !important;
    right: 0;
    top: -40px;
  }
  .ps-timeline-sec .container ol.ps-timeline li .ps-bot {
    width: 60% !important;
    float: right !important;
    right: 0;
    top: -40px;
  }
}

@media screen and (max-width: 992px) {
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top{
    margin-bottom: 0px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot{
    margin-bottom: 0px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline {
    margin-left: 250px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top{
    width: 40% !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot{
    width: 40% !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot{
    width: 40% !important;
  }
}
@media screen and (max-width: 768px) {
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top{
    margin-bottom: 0px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot{
    margin-bottom: 0px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline {
    margin-left: 100px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top{
    width: 40% !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot{
    width: 40% !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot{
    width: 40% !important;
  }
}
@media screen and (max-width: 576px) {
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top{
    margin-bottom: 0px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot{
    margin-bottom: 0px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline {
    margin-left: 50px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top{
    width: 70% !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot{
    width: 70% !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot{
    width: 70% !important;
  }
}



.ps-timeline-sec .container ol:before {
  /* background: #348e80; */
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  left: 8px;
  top: 49.5%;
} 
 .ps-timeline-sec .container ol:after {
  /* background: #348e80; */
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  right: 8px;
  top: 49.5%;
}
.ps-timeline-sec .container ol.ps-timeline {
  margin: 330px 0;
  padding: 0;
  border-top: 2px solid #000;
  list-style: none;
}
.ps-timeline-sec .container ol.ps-timeline li {
  float: left;
  width: 16.66%;
  padding-top: 30px;
  position: relative;
}
.ps-timeline-sec .container ol.ps-timeline li span {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  background: #000;
  border: 4px solid #000;
  border-radius: 50%;
  box-shadow: 0 0 0 0px #fff;
  text-align: center;
  line-height: 50px -10;
  color: #fff;
  font-size: 2em;
  font-style: normal;
  position: absolute;
  top: -26px;
  left: 50%;
}
.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:before {
  content: "";
  color: #000;
  width: 2px;
  height: 50px;
  background: #000;
  position: absolute;
  top: -50px;
  left: 50%;
}
.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:after {
  content: "";
  color: #000;
  width: 8px;
  height: 8px;
  background: #000;
  position: absolute;
  bottom: 90px;
  left: 44%;
  border-radius: 100%;
}
.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:before {
  content: "";
  color: #000;
  width: 2px;
  height: 50px;
  background: #000;
  position: absolute;
  bottom: -50px;
  left: 50%;
}
.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after {
  content: "";
  color: #000;
  width: 8px;
  height: 8px;
  background: #000;
  position: absolute;
  top: 90px;
  left: 44%;
  border-radius: 100%;
}
.ps-timeline-sec .container ol.ps-timeline li .img-handler-top {
  position: absolute;
  bottom: 0;
  margin-bottom: 130px;
  width: 100%;
}
.ps-timeline-sec .container ol.ps-timeline li .img-handler-top img {
  display: table;
  margin: 0 auto;
}
.ps-timeline-sec .container ol.ps-timeline li .img-handler-bot {
  position: absolute;
  margin-top: 60px;
  width: 100%;
}
.ps-timeline-sec .container ol.ps-timeline li .img-handler-bot img {
  display: table;
  margin: 0 auto;
}
.ps-timeline-sec .container ol.ps-timeline li p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.ps-timeline-sec .container ol.ps-timeline li .ps-top {
  position: absolute;
  bottom: 0;
  margin-bottom: 100px;
  margin-left: 80px;
}
.ps-timeline-sec .container ol.ps-timeline li .ps-bot {
  position: absolute;
  margin-top: 35px;
  margin-left: 80px;
}
/* ==== Predicative process ===== */


.clientreview-main{
  background-color: #000;
  -webkit-box-shadow: 0px 2px 8px 1px rgba(255,245,255,0.2);
-moz-box-shadow: 0px 2px 8px 1px rgba(255,245,255,0.2);
box-shadow: 0px 2px 8px 1px rgba(255,245,255,0.2);
border-radius: 10px;
border-radius: 1px solid #fff;
}
.clientreview-main h2 {
  color: #fd145a;
}
.review-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #4b4b4b;
  padding: 20px;
  border:1px solid #000;
  -webkit-box-shadow: 0px 2px 8px 1px rgba(255,245,255,0.2);
  -moz-box-shadow: 0px 2px 8px 1px rgba(255,245,255,0.2);
  box-shadow: 0px 2px 8px 1px rgba(255,245,255,0.2);
}

.compnay-info .pattern-font{
  color: #fff !important;
}


/* .blockchaing-bg{
background-image: url('../public/assets/images//Serevice-blockchain/Website\ Service\ BG\ 1.webp');
background-repeat: no-repeat;
background-size: cover;
} */